@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/css/style2.css" rel="stylesheet" />
<div class="row">
    <div class="container">
        <section>
            <form id="account" method="post" class="box">
                <h4><span>Admin<span>Dashboard</span></h4>
                <h5>Sign in to your account.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                   
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input asp-for="Input.Password" class="form-control" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="forgetpass">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="dnthave">Register as a new user</a>
                    </p>
                
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
